<nav class="navbar navbar-expand navbar-dark primary-color">
    <div class="container">
      <a class="navbar-brand" [routerLink]="home()">
          <img src="../../assets/images/logos/icon-left-font-monochrome-white.svg" alt="" width="150" height="35" alt="logo groupomania">
      </a>
        <div class="d-grid gap-2 d-flex justify-content-end">
          <div *ngIf="!isAuth">
            <button type="button" routerLink="signup" class="btn btn-sm btn-outline-light me-2">Inscription</button>
            <button type="button" routerLink="login" class="btn btn-sm btn-light">Connexion</button>
          </div>
          <div *ngIf="isAuth">
            <button type="button" [routerLink]="['/setting']" class="btn btn-sm btn-outline-light m-1">Mon profil</button>
            <a class="btn btn-sm btn-light ml-1" (click)="onLogout()">Deconnexion</a>
          </div>

        </div>

        
    </div>
  </nav>