/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; }

.btn-primary{
    background-color:  #FD2D01;
    border:#FD2D01 ;
  }
  .btn-primary:hover{
    background-color:   #4E5166;
    border: #4E5166;
  }
  .form-control:focus {
    border-color: #FFD7D7;
    box-shadow: 0 0 0 0.2rem #f3462364;
  }
  .btn.btn-primary[disabled] {
    background-color:  #4E5166
}